In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\GPGWX\OneDrive - Bayer\psimkina\SAMPLE_PROJECTS\crop-yield\data\raw\yield_df.csv")

In [4]:
df.head(6)

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37
5,5,Albania,Wheat,1990,30197,1485.0,121.0,16.37

In [1]:
from src.data import load_data, clean_dataframe, split_data

In [4]:
path = r"C:\Users\GPGWX\OneDrive - Bayer\psimkina\SAMPLE_PROJECTS\crop-yield\data\raw\yield_df.csv"

data = load_data(path)
data = clean_dataframe(data)

In [8]:
X_train, X_test, y_train, y_test = split_data(data, target_column='hg/ha_yield')

In [11]:
X_train

,area,item,year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
24234,Saudi Arabia,Sorghum,2000,59.0,3024.11,26.55
9468,Greece,Sweet potatoes,2012,652.0,8002.20,18.82
6793,Colombia,Maize,2006,3240.0,98328.63,27.51
28212,Zimbabwe,Potatoes,2010,657.0,3305.17,21.17
7358,Dominican Republic,Sweet potatoes,2007,1410.0,5689.80,27.08
...,...,...,...,...,...,...
23678,Portugal,Sweet potatoes,2004,854.0,16942.00,16.31
5960,Canada,Wheat,2006,537.0,36572.75,7.85
860,Australia,Potatoes,1991,534.0,17866.00,18.73
17223,Kazakhstan,Potatoes,1998,250.0,6416.14,6.94
25918,Suriname,Cassava,1994,2331.0,178.50,26.82